body{
	background-color:#eafdfc ;

	}
hr{
	background-color: white;
	border-style: dotted none none;
	height: 0px;
	width: 10%;
	border-color: grey;
	border-width: 5px;
} 
h3{
	color:#3c6255 ;
}
a{
	background-color: orange;
	text-decoration: none;
}
a:hover{
	color: greenyellow;
}
span{
	display: inline;
	background-color:orange ;
	text-decoration: none;
}


/************************SELECTOR***********************/
.circular{
	border-radius: 100%;
	margin-right: 50px;
}
.heads{
	height: 100px;
	width: 100%;
	display: inline;
	bottom: 0;
	right: 0;
	position: fixed;
}
.heading{
	width: 30%;
	height: 70px;
	margin: 50px 0 50px 200px;
	
}
.links{
	width: 30%;
	height: 70px;
	margin: 0 50px 0 100px;
	position: absolute;
	left: 800px;
	top: 50px;

}
.subtitle{
	margin-left: 50px;
}
.info{
	width: 40%;
	height: 100px;
	margin: 20px;
	left: 450px;
	position: relative;
}
.books{
	width: 40%;
	height: 100px;
	margin: 20px;
	left: 550px;
	position: relative;
}
.skills{
	width: 40%;
	height: 100px;
	margin: 20px;
	left: 550px;
	position: relative;
}
/**************Hobby****************/
.top-container{
	background-color: white;
	height: 200px;
	width: 200px;
	border: solid #000 10px;
	padding: 20px;
	margin: 10px 10px 0px 10px;
	position: absolute;
	left: 800px;
}
.middle-container{
	background-color: red;
	height: 200px;
	width: 200px;
	border: solid #000 10px;
	padding: 20px;
	margin: 0px 0px 0px 270px;
}
.bottom-container{
	background-color: yellow;
	height: 200px;
	width: 200px;
	border: solid #000 10px;
	padding: 20px;
	margin: 40px 0px 0px 550px;
	position: absolute;
	left: 0;
}
.image1{
	height: 200px;
	width: 200px;
	position: absolute;
}
